NEXT_PUBLIC_SUPABASE_URL=https://minepjcgcwadvurftuaf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xOvQ6yGQE3ahxobko0Up2g_Qc8JiAqy
SUPABASE_SECRET_KEY=sb_secret_CRtXalNRJjPCIZeUIX9bww_z0-3NVli
# Legacy fallback keys (optional):
# NEXT_PUBLIC_SUPABASE_ANON_KEY=
# SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
FORMSPREE_ENDPOINT=https://formspree.io/f/xaqpqggq
